body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.text-bold {
    font-weight:bold;
}

.text-red {
    color:red;
    font-weight:bold;
 }

.age-restriction {
    border:1px solid black;
    border-radius:0.3rem;
    padding:4px;
    margin: 0 1rem;
}
header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 1rem;
}
.btn {
    background: red;
    color:white;
    display:inline-block;
}

.btn-xl {
    font-size: 1.5rem;
    border-radius:0.7rem;
    padding:1rem 1.5rem;
    margin:1rem 0;
}
.btn-xl i {
    margin-left:-0.2rem;
    margin-right: 0.6rem;
}
.btn-l {
    font-size: 1.2rem;
    border-radius:0.5rem;
    padding:0.9rem 1.4rem;
    margin:0.9rem 0; 
}

header h1,header div {
    width:30%;
}
header nav a {
    margin: 0 1.5rem;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: red;
}

input {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.search-icon {
    margin-left:-2.3rem;
}

.notification-icon {
    font-size: 2rem;
}

.user-avatar{
    width: 2.5rem;
    border-radius:100%;
}

.access-menu {
    display:flex;
    align-items:center;
    gap:1rem;
    justify-content: flex-end;
}

h1 {
    color: red;
}
 /*main-section*/

 main {
    margin:1rem;
    border:1px solid black;
    padding: 2rem;
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
 }
.rating-container {
    color: red;
}
main h2 {
    font-size:2.8rem;
    margin:1.5rem 0;
}

.details-container {
    margin: 1vh 0;
}
.description {
    width:50%;
}