body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.text-bold {
    font-weight:bold;
}

.text-red {
    color:red;
    font-weight:bold;
 }

.age-restriction {
    border:1px solid black;
    border-radius:0.3rem;
    padding:4px;
    margin: 0 1rem 0 0;
}
header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 1rem;
}
.btn {
    background: red;
    color:white;
    display:inline-block;
}

.btn-xl {
    font-size: 1.5rem;
    border-radius:0.7rem;
    padding:1rem 3rem;
    margin:1rem 0;
}
.btn-xl i {
    margin-left:-2rem;
    margin-right: 1rem;
}
.btn-l i {
    margin-left:-1.8rem;
    margin-right: 0.8rem;
}

.btn-l {
    font-size: 1.2rem;
    border-radius:0.5rem;
    padding:0.9rem 2.5rem;
    margin:0.9rem 0; 
}

header h1,header div {
    width:30%;
}
header nav a {
    margin: 0 1.5rem;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: red;
}

input {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.search-icon {
    margin-left:-2.3rem;
}

.notification-icon {
    font-size: 2rem;
}

.user-avatar{
    width: 2.5rem;
    border-radius:100%;
}

.access-menu {
    display:flex;
    align-items:center;
    gap:1rem;
    justify-content: flex-end;
}

h1 {
    color: red;
}
 /*main-section*/

 main {
    margin:1rem;
    border:1px solid black;
    padding: 2rem;
    height:65vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
 }
.rating-container {
    color: red;
}
main h2 {
    font-size:2.8rem;
    margin:1.5rem 0;
}

.details-container {
    margin: 1vh 0;
}
.description {
    width:50%;
}
section {
    margin:1rem;
    margin-buttom:3rem;
}
.section-content, .section-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:3rem;
}

.card {
  width:30%;  
  aspect-ratio:2/1;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:flex-start;
  padding:2rem;  
}

.card h4 {
    font-size:2rem;
    margin:1.5rem 0;
}
.card.age-restriction {
    
    margin-left:0;
}

footer {
    display:flex;
    justify-content: space-between;
    gap:1rem;
    align-items:flex-start;
    margin:1rem;
    margin-bottom:10rem;
}

footer nav {
    display:flex;
    gap:2rem;
    margin-bottom:1rem;

}

footer nav a {
    color:black;
    text-decoration:none;
}
footer p:nth-child(n+1) {
margin-top:0;
}

footer img {
   height: 3rem; 
   margin-top:-0.4rem;
}
footer div:first-child {
    flex-basis:60%;
    flex-grow:1;
}

footer nav a:first-child {
    margin-left:0;
}
@media (max-width:900px) {
    .description {
        width:auto;
    }
    header {
        flex-wrap:wrap;
    }

    header nav {
        order:3;
        width:100%;
        text-align:center;
    }
    .section-content {
        overflow:auto;
    }
}